{% extends "base.html" %} 

{% load static %}

{% block css %} 

<link rel="stylesheet" href="{% static 'css/about.css' %}">

{% endblock %}

{% block content %} 


{% filter force_escape|lower %}
About'un esas kontenti
{% endfilter %}

{% for about in abouts %}


<div class="card m-5" style="width: 18rem;">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <h5 class="card-title">{{about.title}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endfor %}
{% endblock %}