{% extends "base.html" %} 
{% load static %}

{% block css %} 

<link rel="stylesheet" href="{% static 'css/blog.css' %}">

{% endblock %}

{% block content %} 
<h1 class="m-5">Blogun esas kontenti</h1>
{% for blog in blogs %}


<div class="card m-5" style="width: 18rem;">
  <img src="{{ blog.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{blog.title}}</h5>
    <p class="card-text">{{blog.text}}</p>
    <a href="{{ blog.get_absolute_url }}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endfor %}

{% endblock %}